# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Firebase credentials
firebase-adminsdk.json
*.json
!package.json
